<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ template_helper.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("build/vendor.css") }}">
        <link rel="stylesheet" href="{{ asset("build/base/base.css") }}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="overlay-wrapper">
            <div id="top-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col" id="title">
                            {{ template_helper.title }}
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="col-auto rhs btn-like" data-submenu="#profile-menu">
                                <i class="material-icons">account_circle</i>
                                {{ app.user.fullName }}
                            </div>
                        {% else %}
                            <a href="{{ path("login") }}" class="col-auto rhs btn-like">
                                <i class="material-icons">account_circle</i>
                                Welcome, Guest!
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="main-wrapper">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="submenu" id="profile-menu">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("admin_list_user") }}" class="item btn-like">
                        Administration
                    </a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path("profile_edit") }}" class="item btn-like">
                        Profile
                    </a>
                {% endif %}
                <div class="item btn-like">
                    Profile
                </div>
                <a href="{{ path("logout") }}" class="item btn-like">
                    Logout
                </a>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-2" id="side-menu">
                    {% for item in template_helper.getSideMenu %}
                        <a href="{{ item.url }}" class="row btn-like">
                            <div class="col-4">
                                {% if item.icon %}
                                    <i class="material-icons">{{ item.icon }}</i>
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ item.text }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="col pl-5" id="content-wrapper">
                    <div class="row">
                        <div class="col">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block modal %}{% endblock %}
        <script>
            window.Param = {};
            {% for k, p in template_helper.jsParam %}
                window.Param["{{ k }}"] = "{{ p }}";
            {% endfor %}
        </script>
        <script src="{{ asset("build/manifest.js") }}"></script>
        <script src="{{ asset("build/vendor.js") }}"></script>
        <script src="{{ asset("build/base/base.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
