<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ template_helper.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset("css/base/base.css") }}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="base-header-wrapper">
            <div class="container">
                <div class="row" id="base-header">
                    <div class="col" id="title">
                        {{ template_helper.title }}
                    </div>
                    <div class="col-1 rhs">
                        <i class="material-icons">account_circle</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="main-wrapper">
            <div class="row">
                <div class="col-md-2" id="side-menu">
                    {% for item in template_helper.getSideMenu %}
                        <a href="{{ item.url }}" class="row">
                            <div class="col-4">
                                {% if item.icon %}
                                    <i class="material-icons">{{ item.icon }}</i>
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ item.text }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="col" id="content-wrapper">
                    <div class="row">
                        <div class="col">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
