<div class="col-md-2 pt-5" id="side-menu">
    {% for item in template_helper.getSideMenu %}
        <div class="row">
            <div class="col">
                <a href="{{ item.url }}" class="menu-item btn-like py-3">
                    {% if item.icon is defined %}
                        <i class="material-icons mr-3">{{ item.icon }}</i>
                    {% endif %}
                    <span class="text-wrapper">{{ item.text }}</span>
                </a>
            </div>
        </div>
        {% if item.child is defined %}
            {% for child in item.child %}
                <div class="row">
                    <div class="col">
                        <a href="{{ child.url }}" class="menu-item btn-like child py-3">
                            {% if child.icon is defined %}
                                <i class="material-icons mr-3">{{ child.icon }}</i>
                            {% endif %}
                            <span class="text-wrapper">{{ child.text }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>