<div class="col-md-2 pt-5 bg-white mr-5" id="side-menu">
    {% for item in template_helper.getSideMenu %}
        {% if item.isVisible is not defined or (item.isVisible is defined and item.isVisible) %}
            <div class="row">
                <div class="col {{ item.indent is defined and item.indent ? "ml-3" : "" }} pl-0">
                    {% if item.url is defined %}
                        <a href="{{ item.url }}" class="menu-item btn-like py-2">
                            {% if item.icon is defined %}
                                <i class="material-icons mr-3">{{ item.icon }}</i>
                            {% else %}
                                <i class="material-icons mr-3 invisible">home</i>
                            {% endif %}
                            <span class="text-wrapper"><small>{{ item.text }}</small></span>
                        </a>
                    {% else %}
                        <div class="menu-item py-2">
                            {% if item.icon is defined %}
                                <i class="material-icons mr-3">{{ item.icon }}</i>
                            {% else %}
                                <i class="material-icons mr-3 invisible">home</i>
                            {% endif %}
                            <span class="text-wrapper"><small>{{ item.text }}</small></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>