<nav id="top-navbar" class="navbar navbar-expand-lg navbar-light sticky-top bg-white">
    <div class="container">
        {% if menu_style == "collapse" %}
            <a class="btn-like d-flex justify-content-center align-items-center mr-4" href="#" data-toggle="collapse" data-target="#side-menu" role="button" aria-expanded="false" aria-controls="side-menu">
                <i class="material-icons">
                    menu
                </i>
            </a>
        {% endif %}
        <a class="navbar-brand" href="#">{{ template_helper.title }}</a>
        <div class="collapse navbar-collapse">
            <!-- LHS menu -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                </li>
            </ul>
            <!-- RHS menu -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link dropdown-toggle d-flex flex-row justify-content-center align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons mr-3">account_circle</i>
                            <span class="mr-3">{{ app.user.fullName }}</span>
                        </a>
                    {% else %}
                        <a href="{{ path("login") }}" class="nav-link d-flex flex-row justify-content-center align-items-center">
                            <i class="material-icons mr-3" data-submenu="#profile-menu">account_circle</i>
                            <span class="mr-3">Welcome, Guest!</span>
                        </a>
                    {% endif %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path("admin_list_user") }}" class="dropdown-item px-5 py-2">
                                Administration
                            </a>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path("profile_edit") }}" class="dropdown-item px-5 py-2">
                                Profile
                            </a>
                        {% endif %}
                        <a href="{{ path("logout") }}" class="dropdown-item px-5 py-2">
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>