{% extends 'base/base.html.twig' %}

{% block css %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/base/list_user_group.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col title">
            Users Group
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover" id="group-table">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Group Name</th>
                    <th>Group Type</th>
                    <th>Member Count</th>
                </tr>
                </thead>
                <tbody>
                {% for grp in grpList %}
                    <tr id="{{ grp.id }}">
                        <td>{{ grp.id }}</td>
                        <td>{{ grp.getName() }}</td>
                        <td>{{ grp.getFriendlyClassName() }}</td>
                        <td>{{ grp.getChildren().toArray()|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block modal %}
{% endblock %}
