{% extends "bootstrap_4_horizontal_layout.html.twig" %}

{% block composite_collection_widget %}
    {% spaceless %}
    {% set max_index = 0 %}
    <div id="{{ form.vars.id }}-container" >
        {% for child in form %}
            <div data-index="{{ child.vars.name }}" class="d-flex align-items-center form-group">
                {{ form_widget(child) }}
                <i class="material-icons text-danger btn-like p-1 ml-2" data-collection-remove>clear</i>
            </div>
            {% if max_index < child.vars.name %}
                {% set max_index = child.vars.name %}
            {% endif %}
        {% endfor %}
    </div>
    {% set prototype = "
        <div class='d-flex align-items-center form-group'>
            " ~ form_widget(form.vars.prototype) ~ "
            <i class='material-icons text-danger btn-like p-1 ml-2' data-collection-remove>clear</i>
        </div>"
    %}
    <div class="row">
        <div class="col text-center">
            <i class="material-icons text-primary btn-like p-1" data-index="{{ max_index }}" data-collection-container="#{{ form.vars.id }}-container" data-collection-prototype="{{ prototype|e('html_attr') }}">add</i>
        </div>
    </div>
    {% endspaceless %}
{% endblock %}
